.project_card {
    width: 30%;
    height: 100%;
    margin: 2% auto;
    border: 1px solid #f1f1f12e;
    border-radius: .2rem;
    padding: .5rem 0 1rem 0;
}

.project_card h2 {
    font-family: var(--robotic_font);
    text-transform: uppercase;
    font-weight: 400;
    padding: .5rem;
    font-size: 90%;
}

.project_card p {
    font-size: smaller;
    width: 90% !important;
    padding: 0 .5rem .5rem .5rem;
}

.project_card a {
    text-decoration: none;
    color: var(--dark1);
    background: var(--blue1);
    border-radius: .2rem;
    font-size: 70%;
    font-weight: 500;
    padding: .3rem;
    margin: 0 .5rem .5rem .5rem;
}

@media screen and (max-width: 500px) {
    .project_card {
        width: 100%;
        height: 100%;
    }
}