@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* :root {
  --dark1: #151c29;
  --font_color1: #c7cfe0;
  --linecolor: #98aad0;
  --sideNavIconColor: var(--linecolor);
  --card_background: #2d3855;
  --blog_cardBg: var(--dark1);
  --blue1: var(--font_color1);
  --robotic_font: "Roboto Mono", monospace;
  --btn_color: #8447ff;
  --green1: #9fef00;
  --border1: 1px solid #b3b3b345;
  --border2: 1px solid rgba(135, 135, 135, 0.271);
  --shadow1: 3px 6px 5px 0 rgba(0, 0, 0, 0.2);
} */

:root {
  --dark1: #fffffe;
  --font_color1: #161616;
  --linecolor: #161616;
  --sideNavIconColor: var(--linecolor);
  --card_background: #ffffff;
  --blog_cardBg: var(--dark1);
  --blue1: var(--font_color1);
  --robotic_font: "Roboto Mono", monospace;
  --btn_color: #1b1b1b;
  --green1: #9fef00;
  --border1: 1px solid #14141445;
  --border2: 1px solid rgba(15, 15, 15, 0.271);
  --shadow1: 3px 6px 5px 0 rgba(0, 0, 0, 0.2);
}

[data-preferred-theme=light], [data-preferred-theme=light][data-editor-theme=design], [data-preferred-theme=light] [data-editor-theme=design]{
  --color-bg: #202124;
  color-scheme: var(--dark1);
}

html {
  width: 100%;
  height: 100%;
  color-scheme: dark;
  font-family: "Poppins", sans-serif;
  color: var(--font_color1);
  overflow-x: hidden;
}

body{
  background: var(--dark1);
}

.grid-overlay {
  background: var(--dark1) url("./assets/bg-grid.svg") no-repeat center/cover;
}

.grid-overlay:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 800px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, var(--dark1) 80%);
}

/* Preloader styles */
#planet {
  width: 70%;
  height: 70%;
}

.earth-orbit,
.venus-orbit,
.mercury-orbit,
.mars-orbit,
.jupiter-orbit,
.saturn-orbit,
.uranus-orbit,
.neptune-orbit,
.pluto-orbit {
  overflow: hidden;
}