@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

:root {
  --dark1: #10151d;
  --font_color1: #c7cfe0;
  --linecolor: #98aad0;
  --sideNavIconColor: #98aad0;
  --card_background: #263248;
  --blog_cardBg: #1b2432;
  --blue1: --font_color1;
  --robotic_font: "Roboto Mono", monospace;
  --btn_color: #a162ff;
  --green1: #9fef00;
  --border1: 1px solid #d45cff30;
  --border2: 1px solid rgba(255, 255, 255, 0.1);
  --shadow1: 3px 6px 10px 0 rgba(0, 0, 0, 0.3);
}

html {
  width: 100%;
  height: 100%;
  color-scheme: dark;
  font-family: "Poppins", sans-serif;
  color: var(--font_color1);
  overflow-x: hidden;
}

body {
  background: var(--dark1) url("./assets/bg-grid.svg") no-repeat center/cover fixed;
}


/* Preloader styles */
#planet {
  width: 70%;
  height: 70%;
}

.earth-orbit,
.venus-orbit,
.mercury-orbit,
.mars-orbit,
.jupiter-orbit,
.saturn-orbit,
.uranus-orbit,
.neptune-orbit,
.pluto-orbit {
  overflow: hidden;
}