.about {
    width: 90%;
    height: 100%;
    margin-left: 10%;
    padding: 6% 0 6% 0;
    background: var(--dark1) !important;
}

.about h1 {
    font-weight: 400;
    padding-bottom: 2%;
}

.about p {
    width: 70%;
    padding-bottom: 5%;
}

.about .container {
    width: 65%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background: var(--card_background);
    margin-bottom: 5%;
    margin-top: 5%;
    box-shadow: var(--shadow1);
}

.about .container .text {
    width: 60%;
    height: 100%;
}

.about .container .text p {
    padding: 0 5%;
    width: 90%;
    font-size: smaller;
}

.about .container .text h2 {
    padding: 0 5% 5% 5%;
    font-weight: 600;
    font-size: x-large;
}

.about .container .image-box {
    width: 40%;
    height: 100%;
    overflow: hidden;
}

.about .container .image-box img {
    width: 100%;
    height: 95%;
    object-fit: fill;
    margin-bottom: -5%;
}

/* Exp Container */
.experiences .title {
    font-size: 2.5rem;
    font-weight: 400;
    margin: 3.5% 0;
}

.exp-container {
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    background: var(--dark1) !important;
}

.project_container {
    /* width: 80%; */
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
}

.designs {
    width: 98%;
    height: 100%;
    margin-left: 2%;
    margin-top: 5%;
}

.designs .header {
    overflow-y: hidden;
    margin: 2% auto;
}

.designs .header h1 {
    font-weight: 500;
}

.designs .design-grid {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}

.designs .design-grid .iframe-container {
    width: 48%;
    height: 100%;
    min-height: 20rem;
    margin-bottom: 5%;
    opacity: .7;
    text-align: center;
}

.designs .design-grid .iframe-container iframe {
    width: 100%;
    height: 100%;
    min-height: 18rem;
    border: none;
    border-radius: .3rem;
    opacity: .8;
}
.designs .design-grid .iframe-container button{
    width: 30%;
    margin: auto;
    padding: .5rem;
    border: none;
    border-radius: .2rem;
    background: var(--btn_color);
    font-family: "Poppins", sans-serif;
    margin-top: 3%;
}
.cx_colorBg--XYMUF {
    background-color: #202124;
}


@media screen and (max-width:680px) {
    .about {
        width: 80%;
        margin-left: 15%;
        padding-right: 5%;
    }

    .about .container {
        width: 100%;
        flex-direction: column-reverse;
    }

    .about .container .text {
        width: 100%;
    }

    .about .container .text p {
        font-size: 13px;
        padding-bottom: 10%;
    }

    .about .container .text h2 {
        padding: 5% 5% 5% 5%;
    }

    .about .container .image-box {
        width: 100%;
    }

    .project_container {
        width: 100%;
        margin: auto;
    }

    .exp-container {
        width: 100%;
        margin: auto;
    }

    .experiences {
        width: 100%;
    }

    .experiences .title {
        margin-top: 2.2rem;
        font-size: 1.4rem;
        margin-bottom: 2rem;
    }

    .h1 {
        font-size: 1.5rem !important;
        margin-bottom: 10%;
        margin-top: 28% !important;
    }

    .p {
        width: 100% !important;
        margin-bottom: 10%;
    }

    .about h1 {
        padding-bottom: 7%;
    }

    .designs{
        margin-top: 15%;
    }

    .designs .design-grid {
        width: 100%;
        flex-direction: column;
    }

    .designs .design-grid .iframe-container {
        width: 100%;
        margin: 2% auto;
    }

    .designs .design-grid .iframe-container iframe {
        width: 90%;
        min-height: 18rem;
        margin: 2% auto;
    }
    .designs .design-grid .iframe-container button{
        width: 50%;
    }
}

@media screen and (max-width:1440px) {
    .experiences .title .about {
        margin-top: 25%;
        z-index: 10;
    }
}