.home {
    width: 90%;
    height: 100%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
}

.home .text-part {
    width: 90%;
    height: 100%;
    z-index: 1000 !important;
}

.text-part .text-box {
    margin: 12% 5% 15% auto;
}

.text-part .text-box h2 {
    font-size: 4rem !important;
    font-family: var(--robotic_font);
    color: var(--font_color1);
    font-weight: 400;
}

.text-box a {
    display: inline-block;
    text-decoration: none;
    color: var(--font_color1);
    font-weight: 500 !important;
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: x-large;
    font-family: var(--robotic_font);
}

.text-box a:hover {
    color: var(--btn_color);
    transition: all .5s ease-in-out;
}

.home .text-part h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.Typewriter {
    display: block;
    height: 16rem !important;
    margin-top: 1%;
}

#location {
    margin-top: 5%;
}

@media screen and (max-width:680px) {
    #location {
        padding-top: 5%;
    }

    .home {
        flex-direction: column;
        width: 85%;
        margin-left: 15%;
    }

    .home .text-part {
        width: 93%;
    }

    .home .text-part h1 {
        font-size: 2rem;
    }

    .home .text-part .text-box {
        margin: 50% auto;
    }

    .text-part .text-box h2 {
        font-size: 2.5rem !important;
        line-height: 3rem;
        margin-top: 5%;
    }

    .Typewriter {
        height: 20rem !important;
        overflow: hidden !important;
    }
}