.techstack {
    width: 100%;
    height: 100%;
    margin: 5% auto;
}

.techstack .heading h2 {
    font-size: 2.5rem;
    font-weight: 400;
    padding: 1rem;
    text-align: center;
    margin-bottom: 3%;
}

.icon-box {
    width: 70%;
    margin: auto;
    text-align: center;
}

.icon {
    font-size: 3rem;
    margin: 3% 4.5% 2% 3%;
}

.techstack .icon:hover {
    color: var(--btn_color);
    transition: all .5s ease-in-out;
    transform: scale(1.4);
}

@media screen and (max-width:680px) {
    .techstack .heading h2 {
        font-size: 2rem;
        margin-top: 25%;
        margin-bottom: 10%;
    }

    .icon-box {
        width: 100%;
        margin: auto;
        margin: auto auto auto;
    }

    .icon {
        font-size: 1.25rem;
    }
}