.github-activity .heading {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 5%;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--robotic_font);
}

.github-activity .heading #icon {
    font-size: 3.5rem !important;
    margin-left: 1%;
}

@media screen and (max-width: 690px) {
    .github-activity {
        margin-left: 20% !important;
    }

    .github-activity .heading {
        font-size: .8rem;
    }

    .github-activity .heading #icon {
        font-size: 1.5rem !important;
        margin-left: 1%;
    }
}

.styles-module_container__GBNxC rect {
    stroke: none !important;
}