.github-activity {
    width: 90%;
    margin-left: 10%;
    padding-bottom: 3%;
}

.github-activity .heading {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 1em;
    font-weight: 400;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    word-spacing: 3px;
}

.github-activity .heading #icon {
    font-size: 3rem !important;
}

@media screen and (max-width: 690px) {
    .github-activity {
        width: 90%;
        margin-left: 10% !important;
        padding-right: 5%;
    }

    .github-activity .heading {
        font-size: .8rem;
    }

    .github-activity .heading #icon {
        font-size: 1.5rem !important;
        margin-left: 1%;
    }
}