.blogList {
    width: 90%;
    margin-left: 10%;
    padding-bottom: 4%;
}

.blogList h3 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2%;
}

.blogCard {
    width: 70%;
    margin: 2.7% 0 0 0;
    padding: .5rem !important;
    border-radius: .2rem;
    background: var(--blog_cardBg);
    box-shadow: var(--shadow1);
}

.blogCard h2,
.blogCard p,
.blogCard a {
    font-size: 1rem;
    font-weight: 400;
    color: var(--blue1);
}
.blogCard h2{margin-top: 3px;}
.blogCard p,
.blogCard a {
    font-size: small;
}

.blogCard a {
    color: var(--font_color1);
    text-decoration: none;
    font-size: .8rem;
}

.blogCard .user-info {
    width: 100%;
    display: flex;
    justify-self: start;
    align-items: center;
}

.blogCard .user-info p {
    font-size: .7rem;
    margin-left: 5px;
}

.blogCard .user-info img {
    width: 35px;
    border-radius: 50%;
}

@media screen and (max-width:780px) {
    .blogList {
        width: 85%;
        padding-top: 10%;
        padding-bottom: 15%;
        margin: 0% 0 0% 15%;
    }

    .blogCard {
        width: 90%;
        margin: 5% 0 0 0;
    }

    .blogCard h2 {
        font-size: 80%;
        font-weight: 500;
        margin-top: 2%;
    }

    .blogCard p {
        font-size: 65%;
        margin: 2% 0;
    }
}