.blogList {
    width: 90%;
    margin-left: 10%;
    padding-bottom:4%;
}

.blogList h3 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2%;
}

.blogCard {
    width: 50%;
    margin: 1.7% 0 0 0;
    border-radius: .1rem;
}

.blogCard h5 {
    font-size: 1rem;
    font-weight: 400;
    color: var(--blue1);
    padding-left: 4%;
}

.blogCard a {
    color: var(--blue1);
    text-decoration: none;
}
.blogCard a:hover{
    color:var(--btn_color);
}

@media screen and (max-width:680px) {
    .blogList {
        width: 85%;
        padding-top: 10%;
        padding-bottom: 15%;
        margin: 0% 0 0% 15%;
    }

    .blogCard {
        width: 90%;
        margin: 5% 0 0 0;
    }

    .blogCard h5 {
        font-size: 60%;
    }
}