.footer {
    width: 90%;
    height: 15vh;
    padding-top: 5%;
    margin-left: 10%;
    background: var(--dark1) !important;
}

.footer .footer_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .footer_container .footline {
    width: 40%;
    height: 2px;
    background-color: var(--linecolor);
}

.footer .footer_container .content {
    width: 60%;
}

.footer .footer_container .content a {
    text-decoration: none;
    color: var(--sideNavIconColor);
    margin-left: 1rem;
    font-family: var(--robotic_font);
}

.footer .copyrights{
    width: 100%;
    text-align: center;
    margin: 2% 0;
}
.footer .copyrights p{
    font-size: .95rem;
    opacity: .3;
    font-weight: 300;
}

@media screen and (max-width:680px) {
    .footer {
        padding-top: 3rem;
    }

    .footer .footer_container .footline {
        width: 10%;
    }

    .footer .footer_container .content {
        width: 90%;
    }
}